.one {
  height: 100vh;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .head__text {
      display: flex;
      align-items: center;
      font-size: 29rem;
    }

    .image__one {
      position: absolute;
      left: 5%;
      top:80%;
      img {
        flex-basis: 350px;
        width: 500px;
        object-fit: cover;
      }
    
    }

    .image__two {
        position: absolute;
        right: 5%;
        top: 80%;
        z-index: -1;
        img {
            flex-basis: 650px;
            width: 450px;
            object-fit: cover;
          }
    }
  }
}
